body{
    /* background-color: #a3d0ee   ; */
    background-image: linear-gradient(to right,#2b5876 ,#7caecf, #4e4376);


}
.navbar-toggler {
    font-size: 0.90rem;
}
.navbar-brand{
    font-size: 1.6rem;
letter-spacing: 0.097em;
font-weight: bold;
margin: 0px 20px;
color: black;
}
/* .navbar{
    
} */
footer{
    color: black;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #000 !important;
    text-align: center;
}
.card{

    background-color: rgba(128, 201, 255, 0.1);
box-shadow: 8px 10px 13px #00000073;
border-radius: 2.25rem;
padding: 5px;
}
.noteCard{
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 1.25rem;
    box-shadow: 3px 3px 5px #00000073;
}
.dltbtn{
    padding: 5px;
font-size: smaller;
}
.card-title{
    font-size: 1.5rem;
font-weight: 600;
font-family: 'Headland One', serif;
}
.headline{
    font-family: 'Headland One', serif;
}